<h1>{{restaurant.name}}</h1>
<div class="restaurantImage" style="background-image: url({{restaurant.image}});"></div>
    <a href="/{{restaurant.id}}/update">Edit Restaurant</a>
    <a href="/{{restaurant.id}}/delete">Delete Restaurant</a>
<section class="gallery">
    {{#each menus}}
        <div class ="galleryItem">
            <h3>{{this.title}}</h3>
            {{#each this.items}}
                <div class="item">
                    <dl>{{this.name}}</dl>
                    <dt>£{{this.price}}</dt>
                    <dt><a href="/{{../../restaurant.id}}/{{this.MenuId}}/{{this.id}}/delete">&#10060</a></dt>
                </div>
            {{/each}}
            <a href="/{{this.RestaurantId}}/{{this.id}}">Add item</a>
            <a href="/{{this.RestaurantId}}/{{this.id}}/update">Edit Menu</a>
            <a href="/{{this.RestaurantId}}/{{this.id}}/delete">Delete Menu</a>
        </div>
    {{/each}}
    <div class="galleryItem">
        <h3>Add a menu:</h3>
        <form class="addMenu" action="/{{restaurant.id}}" method="POST">
            <input type="text" id="title" name="title" placeholder="Menu Title" required> <br>
            <input type="submit" value="Add Menu">
        </form>
    </div>
</section>

